.wrapper {
  width: 600px;
  margin: 0 auto;
}

table tr td:last-child {
  width: 120px;
}
.page-header{
  text-align: center;
  font-size: 30px;
  color: aquamarine;
}
.chart{
  width:30%;
  height:20%;
  text-align:center;
  margin-top: 20px;
}