table {
  margin-top: 150px;
  border: 1px solid;
  background-color: #eee;
}

td {
  padding: 10px;
  border: 0px;
}

th {
  background-color: #ddd;
  border-bottom: 1px solid;
}

.center {
  margin-right: auto;
  margin-left: auto;
}